<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>586529995472-rsa2a4l0naal759rg979kjb61c8eoh1v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.586529995472-rsa2a4l0naal759rg979kjb61c8eoh1v</string>
	<key>API_KEY</key>
	<string>AIzaSyD8Sty8ypQd-QVOmDTH03-lgV2i15FPGC0</string>
	<key>GCM_SENDER_ID</key>
	<string>586529995472</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.capraraedefrancescosoft.progettomobidev</string>
	<key>PROJECT_ID</key>
	<string>thematic-bloom-141319</string>
	<key>STORAGE_BUCKET</key>
	<string>thematic-bloom-141319.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:586529995472:ios:03f0f67ce5b94b79</string>
	<key>DATABASE_URL</key>
	<string>https://thematic-bloom-141319.firebaseio.com</string>
</dict>
</plist>